[Unit]
Description=Temperature Monitor
After=network.target

[Install]
WantedBy=default.target

[Service]
Environment="GPIO=4"
Environment="ROOM=room"
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /usr/local/lib/temperature/read_temp.py "--gpio=${GPIO}" "--room=${ROOM}" "--org=${INFLUXDB_V2_ORG}" "--bucket=${INFLUXDB_V2_BUCKET}"
Restart=on-failure
